.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
  }
  
input[type="text"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #68ac68;;
  border: 1px solid #68ac68;;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #68ac68;;
}

.button-container {
  display: flex;
  justify-content: center;
}

.main-page {
  background-color: white;
  margin-top: 20px;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.prompt {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}